.monaco-tree {
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    outline: none;
  }
  
  .monaco-tree-row {
    font-size: 14px;
    line-height: 24px;
  }
  .monaco-tree-row.has-children >.content:before  {
    padding-left: 0px;
  }
  .monaco-tree.monaco-tree-instance-1 .monaco-tree-rows > .monaco-tree-row:hover:not(.highlighted):not(.selected):not(.focused) {
    /* color when user is hover over a file in a tree */
    background-color: #bfdefd;
    }
  .monaco-tree.monaco-tree-instance-1 .monaco-tree-rows > .monaco-tree-row.selected:not(.highlighted) {
    /* color when file is selected but not in focus I THINK */
    background-color: #bfdefd;
  }
